Repository mediunn/Livith-Web, pull requests merged in 2025-07, with the labels that each got.

#70 [Refactor/#69] 폴더 구조 리팩토링
  src/entities/concert/api/getConcertCulture.ts
  src/entities/concert/api/getConcertInsideInfo.ts
  src/entities/concert/ui/ConcertCard.tsx
  src/entities/concert/ui/ConcertCultureCarousel.tsx
  src/entities/concert/ui/ConcertCultureCarouselSlide.tsx
  src/entities/concert/ui/ConcertInsideInfo.tsx
  src/entities/concert/ui/ConcertSlide.tsx
  src/entities/concert/ui/ConcertSlideCard.tsx
  src/entities/lyric/api/getSong.ts
  src/entities/lyric/ui/Lyric.tsx
  src/entities/lyric/ui/LyricFanchant.tsx
  src/entities/setlist/ui/SetListCard.tsx
  src/entities/setlist/ui/SetlistCollection.tsx
  src/entities/setlist/ui/SetlistDetail.tsx
  src/entities/setlist/ui/SetlistSongItem.tsx
  src/entities/setlist/ui/SetlistSongList.tsx
  src/features/concert/ui/EmptyConcertCulture.tsx
  src/features/concert/ui/EmptyConcertSlide.tsx
  src/features/lyric/ui/MusicTitleBar.tsx
  src/features/my/ui/Info.tsx
  src/features/my/ui/ReportConcert.tsx
  src/features/search/ui/SearchResult.tsx
  src/features/setlist/ui/EmptySetList.tsx
  src/pages/ConcertInsidePage.tsx
  src/pages/ConcertListPage.tsx
  src/pages/HomePage.tsx
  src/pages/LyricPage.tsx
  src/pages/MyPage.tsx
  src/pages/SetlistCollectionPage.tsx
  src/pages/SetlistDetailPage.tsx
  src/widgets/ConcertCulture.tsx
  src/widgets/ConcertList.tsx
  src/widgets/CurrentConcert.tsx
  src/widgets/ExpectationSetList.tsx
  src/widgets/InfiniteConcertList.tsx
  src/widgets/MainImageCarousel.tsx
  src/widgets/MainImageCarouselSlide.tsx
  src/widgets/NextConcert.tsx
  src/widgets/OngoingSetList.tsx
  src/widgets/PastSetList.tsx
  src/widgets/PrevConcert.tsx
Labels: ♻️ Refactor

#74 [Feat/#73] 콘서트 설정 시 홈
  package-lock.json
  package.json
  public/ConcertTicketMask.svg
  src/features/concert/ui/ConcertSchedulePanel.tsx
  src/features/concert/ui/ConcertSetting.tsx
  src/features/concert/ui/ConcertSettingEmpty.tsx
  src/features/concert/ui/EmptyConcertSchedulePanel.tsx
  src/pages/CategoryPage.tsx
  src/pages/ConcertInsidePage.tsx
  src/pages/HomePage.tsx
  src/pages/MyPage.tsx
  src/pages/SearchPage.tsx
  src/shared/assets/ConcertTicketArrowIcon.svg
  src/shared/assets/WebSiteArrowIcon.svg
  src/shared/assets/WebSiteEarthIcon.svg
Labels: ✨ Feat, 🎨 Style, 🏠 홈 페이지

#76 [Feat/#75] 공연 상세 가수 정보
  package-lock.json
  package.json
  src/entities/concert/ui/ArtistTabPanel.tsx
  src/entities/concert/ui/ConcertInfoTab.tsx
  src/entities/concert/ui/EmptyArtistTabPanel.tsx
  src/entities/concert/ui/FanCultureSwiper.tsx
  src/entities/types/swiper-css.d.ts
  src/pages/ConcertInsidePage.tsx
  src/shared/assets/InstagramIcon.svg
  src/shared/ui/DetailInfo.tsx
  src/shared/ui/ListHeader.tsx
  tailwind.config.js
  tsconfig.app.json
Labels: ✨ Feat, 🎨 Style, 🎤 콘서트 페이지

#80 [Feat/#79] 노래 재생 화면
  package-lock.json
  package.json
  src/entities/lyric/ui/EmptyYouTubePlayer.tsx
  src/entities/lyric/ui/Lyric.tsx
  src/entities/lyric/ui/YouTubePlayer.tsx
  src/features/concert/ui/ConcertSetting.tsx
  src/features/lyric/ui/LyricTypeButton.tsx
  src/features/lyric/ui/MusicTitleBar.tsx
  src/pages/LyricPage.tsx
  src/shared/assets/EmptyYouTubePlayerIcon.svg
Labels: ✨ Feat, 🎨 Style, 🆎 가사 페이지

#82 [Feat/#81] 카테고리 화면
  src/entities/concert/types/index.ts
  src/entities/concert/ui/ConcertCard.tsx
  src/entities/concert/ui/ConcertInsideInfo.tsx
  src/entities/concert/ui/ConcertSlide.tsx
  src/entities/concert/ui/ConcertSlideCard.tsx
  src/entities/concert/ui/ConcertTabPanel.tsx
  src/entities/concert/ui/MdSlide.tsx
  src/entities/concert/ui/MdSlideCard.tsx
  src/features/concert/api/getConcertList.ts
  src/features/concert/model/useConcertList.ts
  src/features/concert/ui/EmptyConcertSlide.tsx
  src/pages/CategoryPage.tsx
  src/pages/ConcertInsidePage.tsx
  src/pages/ConcertListPage.tsx
  src/shared/ui/DetailInfo.tsx
  src/widgets/AllConcert.tsx
  src/widgets/ConcertList.tsx
  src/widgets/InfiniteConcertList.tsx
  src/widgets/NewConcert.tsx
  src/widgets/UpcomingConcert.tsx
Labels: ✨ Feat, 🔗 API, 🎨 Style, 🎤 콘서트 페이지

#84 [Feat/#83] 가수 정보 탭 API
  src/entities/concert/api/getArtistInfo.ts
  src/entities/concert/api/getConcertCulture.ts
  src/entities/concert/api/getConcertInsideInfo.ts
  src/entities/concert/ui/ArtistTabPanel.tsx
  src/entities/concert/ui/ConcertCultureCarousel.tsx
  src/entities/concert/ui/ConcertInfoTab.tsx
  src/entities/concert/ui/ConcertInsideInfo.tsx
  src/entities/concert/ui/FanCultureSwiper.tsx
  src/entities/concert/utils/formatBirthDate.ts
  src/pages/ConcertInsidePage.tsx
  src/shared/assets/EmptyConcertImageIcon.svg
  src/shared/ui/DetailInfo.tsx
  src/widgets/ConcertCulture.tsx
Labels: ✨ Feat, 🔗 API, 🎨 Style, 🎤 콘서트 페이지

#87 [Feat/#85] 콘서트 정보 탭 API
  package-lock.json
  package.json
  src/app/App.tsx
  src/entities/concert/api/getConcertRequiredInfo.ts
  src/entities/concert/api/getMd.ts
  src/entities/concert/api/getSchedule.ts
  src/entities/concert/ui/ArtistInfo.tsx
  src/entities/concert/ui/ArtistTabPanel.tsx
  src/entities/concert/ui/ConcertInfoTab.tsx
  src/entities/concert/ui/ConcertInsideInfo.tsx
  src/entities/concert/ui/ConcertTabPanel.tsx
  src/entities/concert/ui/FanCultureInfo.tsx
  src/entities/concert/ui/FanCultureSwiper.tsx
  src/entities/concert/ui/MdCard.tsx
  src/entities/concert/ui/MdInfo.tsx
  src/entities/concert/ui/MdSlide.tsx
  src/entities/concert/ui/MdSlideCard.tsx
  src/entities/concert/ui/RequiredInfo.tsx
  src/entities/concert/ui/ScheduleInfo.tsx
  src/features/concert/ui/ConcertSchedulePanel.tsx
  src/features/concert/ui/ConcertSetting.tsx
  src/features/concert/utils/formatScheduleDate.ts
  src/pages/ConcertInsidePage.tsx
  src/pages/MdPage.tsx
  src/shared/lib/dayjs.ts
  src/widgets/ConcertInfoCarousel.tsx
  src/widgets/ConcertInfoCarouselSlide.tsx
  src/widgets/MdList.tsx
Labels: ✨ Feat, 🔗 API, 🎨 Style, 🎤 콘서트 페이지

#89 [Feat/#88] 가사 보기 화면 API
  src/entities/lyric/api/getSong.ts
  src/entities/lyric/ui/Lyric.tsx
  src/entities/lyric/ui/YouTubePlayer.tsx
  src/features/concert/ui/ConcertSetting.tsx
  src/features/lyric/api/getFanchant.ts
  src/pages/HomePage.tsx
  src/pages/LyricPage.tsx
Labels: ✨ Feat, 🔗 API, 🆎 가사 페이지

#91 [Feat/#90] 공연 상세 셋리스트 정보
  src/entities/concert/api/getSetlistInfo.ts
  src/entities/concert/ui/ConcertInfoTab.tsx
  src/entities/concert/ui/ScheduleInfo.tsx
  src/entities/concert/ui/SetlistTabPanel.tsx
  src/shared/ui/DetailInfo.tsx
Labels: ✨ Feat, 🔗 API, 🎨 Style, 🎤 콘서트 페이지

#92 [Feat/#86] 검색 관련 UI 구현 및 API 연결
  package-lock.json
  src/app/App.tsx
  src/entities/concert/types/index.ts
  src/entities/concert/ui/ConcertCard.tsx
  src/features/concert/api/getConcertList.ts
  src/features/interest/ui/SelectableConcertList.tsx
  src/features/interest/ui/SelectableInfiniteConcertList.tsx
  src/features/interest/ui/SetInterestConcertButton.tsx
  src/features/search/api/getRecommendSearch.ts
  src/features/search/api/getSearchResult.ts
  src/features/search/ui/InputSearchBar.tsx
  src/features/search/ui/RecommendSearch.tsx
  src/features/search/ui/RecommendSearchItem.tsx
  src/features/search/ui/SearchResult.tsx
  src/features/search/utils/setConcertStatus.ts
  src/pages/SearchPage.tsx
  src/pages/SetInterestConcertPage.tsx
  src/widgets/InfiniteConcertList.tsx
Labels: ✨ Feat, 🔗 API, 🎨 Style, 🔍 검색 페이지
